.input-simple{
    padding: 0px 10px !important;
    border: 1px solid #000;
    border-radius: 15px;
    border-bottom: solid 2px #464646;
}

.head-title-center{
    text-align: center;
    color: #000;
    font-weight: 700;
    font-family: cursive;
}

.head-subtitle-center{
    text-align: center;
    color: #404040;
    margin-top: -10px;
    font-family: cursive;
}

