  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button color="dark" (click)="closeModal()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

<ion-content>

  <ion-card style="padding-top:55px">
    <ion-grid style="border-radius: 20px;">
    <ion-row>
      <ion-col size="8">
        <ion-text color="secondary">
          <h1 style="margin-left: 17px;color: #000;font-weight: bold;font-size: 30px;">Detail Material Request</h1>
        </ion-text>
      </ion-col>
      <ion-col size="2">
        <ion-icon (click)="openEditModal()" class="icon-header-edit" name="pencil-outline"></ion-icon>
      </ion-col>
      <ion-col size="2">
        <ion-icon (click)="onDeleteOrder()" class="icon-header-trash" name="trash-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card-header>
      <ion-card-title style="text-decoration: underline;font-weight: bold;color: #000;">{{ material.name }}</ion-card-title>
      <ion-grid>
        <ion-row style="margin-left: -10px;">
          <ion-col size="4.8">
            <ion-text color="secondary">
              <ion-card-subtitle>{{ dateOrder }}</ion-card-subtitle>
            </ion-text>
          </ion-col>
          <ion-col size="4.3">
            <ion-card-subtitle class="ion-text-center" [ngIf]="user">{{ user["first_name"]  }} {{ user["last_name"]  }}</ion-card-subtitle>
          </ion-col>
          <ion-col size="2.9" style="text-align: end;">
            <ion-badge color="warning" style="margin-right: -13px;" [class.color-warning]="material.status === 'Pending'" [class.color-success]="material.status === 'Obtained'">{{ material.status }}</ion-badge>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
    <ion-card-content>
      {{ material.description }}
    </ion-card-content>
  </ion-card>
</ion-content>