<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu type="overlay" contentId="main-content">
      <ion-content>
      
        <div class="menu-header-bg">
          <div class="header-content">
            <img src="https://i.ibb.co/HYD7CHq/w2kf-R-removebg-preview.png">
            <ion-label>
              <h2 *ngIf="user != undefined">{{ user["first_name"]  }} {{ user["last_name"]  }}</h2>
              <h2 *ngIf="user == undefined">Walter White</h2>
              <p>example@app.com</p>
            </ion-label>
          </div>
        </div>

        <ion-list id="inbox-list" class="menu-items" lines="none">
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerLink]="['/tabs/orders']">
              <ion-icon name="grid-outline"></ion-icon><ion-label>Dashboard</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerLink]="['/tabs/profile']">
              <ion-icon name="person-outline"></ion-icon><ion-label>Profile</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerLink]="['/tabs/orders']">
              <ion-icon name="reader-outline"></ion-icon><ion-label>Orders</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerLink]="['/tabs/materials']">
              <ion-icon name="wallet-outline"></ion-icon><ion-label>Materials</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="logout()">
              <ion-icon name="log-out-outline"></ion-icon><ion-label>Logout</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>