<ion-content class="background">
  <ion-fab
    (click)="dismissLogin()"
    vertical="top"
    horizontal="start"
    slot="fixed">
    <ion-fab-button color="dark">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-grid style="margin-top: 12vw">
    <ion-row>
      <ion-col>
        <ion-text color="secondary">
          <h1
            style="
              text-align: center;
              color: #000;
              font-weight: 800;
              font-size: 30px;">
            Hello Again!
          </h1>
          <p style="
              font-size: 20px;
              text-align: center;
              width: 60%;
              color: #000;
              margin: auto;
              margin-top: 20px;
              font-family: system-ui;
              line-height: 1em;">
            Welcome back, you've been missed!
          </p>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

  <form #form="ngForm"
    (ngSubmit)="login(form)"
    method="post"
    style="width: 80%; margin: auto">
    <ion-item lines="none">
      <ion-label style="margin-bottom: 10px; font-size: 20px" position="stacked">Email</ion-label>
      <ion-input
        ngModel
        type="email"
        name="email"
        style="
          padding: 5px 10px !important;
          border: 1px solid #000;
          border-radius: 15px;
          border-bottom: solid 2px #464646;"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label style="margin-bottom: 10px; font-size: 20px" position="stacked">Password</ion-label>
      <ion-input
        ngModel
        type="password"
        name="password"
        style="
          padding: 5px 10px !important;
          border: 1px solid #000;
          border-radius: 15px;
          border-bottom: solid 2px #464646;"></ion-input>
    </ion-item>

    <p style="text-align: right; padding-right: 20px; font-size: 14px">
      Forgot Password?
    </p>

    <ion-button
      type="submit"
      style="
        box-shadow: 3px 6px 7px 0px #0000005e;
        border-radius: 30px;
        margin-top: 40px;"
      mode="ios"
      size="large"
      shape="round"
      expand="block"
      color="dark">Sign In</ion-button>
  </form>
  <ion-text color="secondary">
    <h1
      style="
        text-align: center;
        color: #5e5e5e;
        font-size: 18px;
        width: 50%;
        margin: 40px auto;"
      class="line-middle">
      <span>Or</span>
    </h1>
  </ion-text>
  <ion-grid style="width: 50%">
    <ion-row>
      <ion-col>
        <ion-icon
          style="
            font-size: 35px;
            color: #525252;
            float: right;
            padding-right: 5px;"
          name="logo-google"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-icon
          style="
            font-size: 35px;
            color: #525252;
            float: left;
            padding-left: 5px;"
          name="logo-facebook"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
  <p style="text-align: center; padding-right: 20px; font-size: 14px">
    Don't have a account? <b (click)="registerModal()">Register</b>
  </p>
  
</ion-content>
