  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button color="dark" (click)="closeModal()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

<ion-content>

  <ion-card style="padding-top:55px">
    <ion-grid style="border-radius: 20px;">
    <ion-row>
      <ion-col size="8">
        <ion-text color="secondary">
          <h1 style="margin-left: 17px;font-family: cursive;color: #000;font-weight: bold;font-size: 30px;">Order Detail</h1>
        </ion-text>
      </ion-col>
      <ion-col size="2">
        <ion-icon (click)="openEditModal()" class="icon-header-edit" name="pencil-outline"></ion-icon>
      </ion-col>
      <ion-col size="2">
        <ion-icon (click)="onDeleteOrder()" class="icon-header-trash" name="trash-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card-header>
      <ion-card-title style="text-decoration: underline;font-weight: bold;color: #000;">{{ order.title }}</ion-card-title>
      <ion-grid>
        <ion-row style="margin-left: -10px;">
          <ion-col size="5">
            <ion-text color="secondary">
              <ion-card-subtitle>{{ order.date }}</ion-card-subtitle>
            </ion-text>
          </ion-col>
          <ion-col size="4">
            <ion-card-subtitle class="ion-text-center">usuario nombre</ion-card-subtitle>
          </ion-col>
          <ion-col size="3">
            <ion-badge style="margin-top: -4px;" >categoria</ion-badge>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
    <ion-card-content>
      {{ order.description }}
    </ion-card-content>
   <!--    
     <ion-card-subtitle style="margin-left: 10px;padding:5px"><ion-icon color="dark" name="call"></ion-icon> Phone: {{ user.phone }}</ion-card-subtitle>
    <ion-card-subtitle style="margin-left: 10px;padding:5px"><ion-icon color="dark" name="mail"></ion-icon> Email: {{ user.email}}</ion-card-subtitle>
    <ion-card-subtitle style="margin-left: 10px;padding:5px"><ion-icon color="dark" name="location"></ion-icon> Address: {{ user.address }}</ion-card-subtitle>
-->
    <hr style="background-color: #000;margin: 15px 0px;">

<!--
    <ion-text color="secondary">
      <p style="margin-left: 17px;color: #000;font-weight:bold">Take photo</p>
    </ion-text>
    <ion-segment value="all" mode="ios">
      <ion-segment-button value="all">
        <ion-label>Before</ion-label>
        <img src="../../../assets/take-photo2.png">
      </ion-segment-button>
      <ion-segment-button value="favorites">
        <ion-label>After</ion-label>
        <img src="../../../assets/take-photo2.png">
      </ion-segment-button>
    </ion-segment>
-->
    <hr style="background-color: #000;margin: 15px 0px;">

    <ion-text color="secondary">
      <p style="margin-left: 17px;color: #000;font-weight:bold">Observations:</p>
      <ion-textarea style="background-color: #eeeeee;border-radius: 15px;" rows="3" cols="20" clearOnEdit="true"></ion-textarea>
    </ion-text>

    <ion-grid style="border-radius: 20px;">
      <ion-row style="text-align: center;">
        <ion-col size="4">
          <ion-text color="secondary">
            <ion-button size="block" mode="ios" color="success">Start</ion-button>
          </ion-text>
        </ion-col>
        <ion-col size="4">
          <ion-button size="block" mode="ios" color="warning">Paused</ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button size="block" mode="ios" color="tertiary">Finished</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>