.icon-header-edit{
    font-size: 25px;
    text-align: center;
    margin-top: 28px;
}
.icon-header-trash{
    font-size: 25px;
    text-align: center;
    margin-top: 28px;
}

.icon-buttons{
    font-size: 22px;
    padding-left: 8px;
}

.label-button{
    font-size: 19px;
    font-family: cursive;
}